.App > div{
  margin: 30px;
  padding: 30px;
}
.App{
  display: flex;

  flex-direction: column;
  align-items: center;
}
.NavBar {
  display: flex;
  justify-content: center;
}
.NavBar button{
  height: 100px;
  aspect-ratio: 2/1;
  padding: 20px;
  background-color: #E9E3E6;
  border:0px;
  font-size: 1.5em;
  border-radius: 10px;
}
.NavBar button:hover{
  background-color: #9A8F97;
  
}
.ContactInformation{
  right: 0px;
  bottom: 0px;
  position: absolute;

}
.Calculation{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calculation * {
  padding: 5px;
}

.DataBlock{
  background-color: #E9E3E6;
  width: 80%;
  border-radius: 30px;
}
.BeeSwitchButton{
  border-radius: 5px;
  background-color: #FA9F42;
  margin: 10px;
}
.BeeSwitchButton * {
  width: 50px;
  padding: 0px;
  line-height: 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.BeeSelectWrapper{
  width:300px;
  padding: 10px;
  position: absolute;
  border-radius: 20px;
  border:#131112 3px solid;
  background-color: #FA9F42;
}
.BeeSelect{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  /*justify-content: center;
  align-items: center;*/
}

.BeeSelect > button {
  width: calc(100% / 7);
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  line-height: 0px;
}
.BeeSelect * {
  padding: 0px;
  margin: 0px;
}
.BeeSelect > button > img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.BeeSelect > button:hover{
  opacity: 0.5;
}
.BeeSelect > img {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.bold {
  font-weight: 800;
}

body{
  background-color: #FA9F42;
  color: #131112;
}

.CalculateButton{
  border-radius: 5px;
  background-color: #FA9F42;
  margin: 10px;
}
button{
  color: #131112;
  cursor: pointer;
  font-weight: bold;
  border: #131112 solid 2px;
}
.RoyalJellyInputCount{
  background-color: #736F72;
  border-radius: 10px;
  margin: 5px;
  width:100px;
  color: #E9E3E6;
  font-weight: bold;
  border: #131112 solid 3px;
}
::placeholder{
  color: #E9E3E6;
  font-weight: bold;
}
.RoyalJellyImg{
  padding: 10px;
  width: 50px;
}
/*  
taupe grey: #9A8F97
sandy brown: #FA9F42
platinum: #E9E3E6
dim grey: #736F72
night: #131112


*/